# Logs
yarn-error.log*

# Compiled code
dist/

# Dependency directories
node_modules/
pg-data

# Optional eslint cache
.eslintcache

# Vscode
.vscode/

# dotenv environment variables file
.env
.env.test
